# VSCODE
.vscode/*

# Advent of code private key
private-key.txt

# My files for input, testing, output
input.txt
input
test*
out*

# Make and Run batches
make.bat
make.sh
jrun.sh
run.bat
run.sh

# Executables
main.exe
prog
*.exe
*.out
*.app
*.class

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
